<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.duwei.lib_appwidget">

    <application>
        <receiver
            android:name=".coffe.CoffeeLoggerWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/coffee_logger_widget_info" />
        </receiver>


        <activity android:name=".coffe.WidgetMainActivity">
        </activity>

        <service
            android:name=".coffe.CoffeeQuotesService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".coffe.CoffeeLoggerWidgetConfigureActivity"></activity>



    </application>

</manifest>